- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Suzuki Bikes 2007

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => 'Here in it\'s early 2008 design, the site was built with the emerging \'Way of Life!\' corporate style guidelines, which gave a flexible framework that was great to work with.'}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => 'Dealing with catalogue of almost 70 incredibly complex products felt daunting, but once the pattern became clear, it was simpler to build a content management system to administer them.'}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => 'Suzuki product pages always had many marketing messages to get across, but centering everything on the strong product images helped keep the focus of the page.'}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => 'With three different dealer networks and almost 200 dealers, this search page used a CMS to drive postcode geo-location scripts and geographical projection calculations.'}
        %img{:src => 'pic4s.jpg'}
      %a.fancybox{:href => 'pic5.jpg', :rel => 'project', :title => 'A peak into the back of the purpose built CMS, showing some of the options that were needed to control a single product page. Both MindWorks and Suzuki had access rights to edit items in the CMS, through a multi-layer permissions system.'}
        %img{:src => 'pic5s.jpg'}
        
      .clear

    %h2 A huge experience

    .cm-work-main
      
      %p Suzuki GB Motorcycles is probably the largest single project I've undertaken. Looking back on the first version it wasn't half as large as the later site, but there were so many more unknowns then. Fifty two road bikes, ten off-road bikes and ten ATVs, plus 160 dealers, regular promotions, daily news items, events and ties into a lead management system meant a large amount of back-end work to build a manageable website.

      %p But it was a quirk in the design process that was the best part. The designs for v1 of the site were almost complete when we became aware of new style guidelines appearing in the Suzuki car division. Understanding that the future Suzuki style was about to change, we switched to a new design ahead of being asked.

      %p The revised Suzuki style had appealing squares, fonts and colour palettes, and it's neat flexible framework made the design process more like playing with lego. We created CSS that defined the building blocks of the site and could be switched and re-combined in any order. The imagery seems small now, but was daringly large in 2006, and long before CSS media queries and responsive designs we used "stylesheet switching" to reflow any page so that it fitted 1024px screens as well as the smaller 800px screens that were still common.

      %p I wrote my own longtitude/latitude calculation scripts to place dealer pins on maps and created JS animations that revealed promotions and adverts on roll-over. Plus we cut-out, resized, sharpened and compressed almost every single product image to make sure we'd left nothing to chance. It was a marathon where as well as getting my hands dirty in design, front end user experience and back-end coding, I was attempting to co-ordinate the web team to try and get every area of the site ready for launch.

      %p An exciting time.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2007

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Suzuki GB

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li HTML4
            %li CSS2
            %li MindType CMS
            %li PHP
            %li MySQL

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.suzuki-gb.co.uk/', :target => '_blank'} Suzuki Motorcycles
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
