- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Suzuki Bikes 2007

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => 'Here in it\'s early 2008 design, the site was built with the emerging \'Way of Life!\' corporate style guidelines, which gave a flexible framework, still rigid enough to give a common theme through the site.'}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => 'Dealing with catalogue of almost 70 incredibly complex products felt daunting, but once the pattern became clear, it was simpler to build a content management system to administer them.'}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => 'Suzuki product pages always had many marketing messages to get across, but centering everything on the strong product images helped.'}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => 'With three different dealer networks and almost 200 dealers, this search page had to be entirely driven by the CMS to keep it manageable.'}
        %img{:src => 'pic4s.jpg'}
      %a.fancybox{:href => 'pic5.jpg', :rel => 'project', :title => 'A peak into the back of the CMS, showing some of the options that were needed to control a single product page. Both MindWorks and Suzuki had access rights to edit items in the CMS, through a multi-layer permissions system.'}
        %img{:src => 'pic5s.jpg'}
        
      .clear

    %h2 A huge experience

    .cm-work-main
      
      %p Suzuki GB Motorcycles is the largest project I've undertaken. Looking back on the first version it wasn't half as large as the current site, but there were so many more unknowns then. Fifty two road bikes, ten off-road bikes and ten ATVs, plus 160 dealers, promotions, news items, events and ties into a lead management system meant a large amount of back-end work to build a manageable website.

      %p But it was the initial design that we excelled at. Other parts of Suzuki were starting to be given new corporate branding guidelines, and seeing which way the wind was blowing, we switched designs relatively late to pre-emptively fall in line with the new style. The style guidelines with it's squares, fonts and colour palettes made the designing process more like playing with lego. We created CSS that defined the building blocks of the site that could be switched and re-combined in any order. The imagery seems quaintly small now, but was daringly large in 2006, and long before CSS media queries and responsive designs, we used "stylesheet switching" to reflow any page so that it fitted 1024px screens as well as the smaller 800px screens that were still common.

      %p I wrote my own geo-location scripts to place dealer pins on maps, animations that hid and revealed promotion adverts on roll-over, and cut-out, resized, sharpened and compressed almost every single product image to make sure we'd left nothing to chance. It was a marathon where as well as getting my hands dirty in design, front end user experience and back-end coding, I was co-ordinating the web team in trying to get every area of the site ready to a level that raised everyones game.


    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2007

        %dt Employer:
        %dd MindWorks

        %dt Client:
        %dd Suzuki GB

        %dt Tech:
        %dd
          %ul
            %li HTML4
            %li CSS2
            %li MindType CMS
            %li PHP

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.suzuki-gb.co.uk/', :target => '_blank'} Suzuki Motorcycles
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
