- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Suzuki Bikes 2011

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "What we needed to inject into the Suzuki site was some excitement - something like beautiful large action images..."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "The ATV site (and the off-road bike site) had the same treatment for the homepage - find a great action picture and use it. Large."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "Product pages were re-built with large action images, interactive 3D models and movies where available."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "The dealer pages were also changed to make searching and contacting dealers much clearer to the audience, as well as better value for the dealers."}
        %img{:src => 'pic4s.jpg'}
      .clear

    %h2 Getting the emotion back into biking

    .cm-work-main
      
      %p After running any large website for a few years, it's easy to lose sight of your original goals. Since our first build in 2007, the Suzuki GB Motorcycles homepage was starting to lose it's balance between excitement and messaging, with multiple departments all wanting to grab the customer's attention. The problem was that the passion for biking was not evident enough amongst the finance offers and promotions.

      %p We took it upon ourselves to try and help regain that feeling, to update the massive website with larger spreads, product pages with more impact, and above all, a homepage that made you want to jump on a bike.

      %p But the marketing messages? They were still the reason for the site so we produced a design where they didn't all need to compete for the same real estate. The messages and promotions appeared from behind rotating and sliding panels, giving a homepage with impact and value but still maintainable and a valuable place to advertise.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2011

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Suzuki GB Motorcycles

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li CSS3
            %li Mootools JS
            %li Mindtype CMS
            %li PHP 
            %li MySQL

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.suzuki-gb.co.uk/', :target => '_blank'} Suzuki GB Motorcycles
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
