- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Tobi Corney

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => 'Fun, interesting, with great images. Steve Gibson had a great feel for translating Tobi\'s sense of humor into good copy.'}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => 'Whether clicking on specific images or letting the automatic slideshow do it\'s stuff, the site showed loading progress and hard wipes using only javascript.'}
        %img{:src => 'pic2s.jpg'}
      .clear

    %h2 A non-flash photographers portfolio

    .cm-work-main
      
      %p Tobi Corney wanted a website for his portfolio as a professional photographer. working with the excellent design agency Gibson, I took the original designs and ideas for animated slideshows and decided to do the unthinkable in 2005…

      %p Not build it in Flash.

      %p Before the time of HTML5, Canvas, heck, even jQuery, this meant quite a bit of experimenting with javascript. But it paid off. We had a site that was SEO friendly, easy to manage with a basic CMS behind it, and one that is still working after seven years in the wild.

    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2005

        %dt Employer:
        %dd Gibson Creative

        %dt Client:
        %dd Tobi Corney

        %dt Tech:
        %dd
          %ul
            %li Vanilla JS
            %li HTML4
            %li CSS2
            %li Personal CMS
            %li PHP

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.tcphoto.co.uk/', :target => '_blank'} TC Photography

  .clear

= partial "../../footer"
