- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Powertraveller

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => 'There was lots of messaging to get across on the homepage, but the key was offering links to the core products and designing in the flexibility that the client needed.'}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "The 'add to basket' button doesn't take you away from the page, or leave you wondering if anything happened - plus it gives the opportunity to cross sell related items."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "The checkout tries to make the process as painless as possible by prefilling forms, allow *optional* saving of personal details and clearly marking good fields and errors before you lose the will to actually pay. The user experience of checkout pages was still pretty bad on the web, and I was determined not to make this one of them."}
        %img{:src => 'pic3s.jpg'}
      .clear

    %h2 Selling direct over the web

    .cm-work-main
      
      %p Powertraveller manufacture and sell consumer electrical items - specialising in high-capacity portable battery chargers. This was actually the third generation of Powertraveller website I'd help design and build, but all previous ones had been based within (or extending) the Actinic eCommerce solution. Powertraveller had outgrown Actinic's framework and a more bespoke solution was needed.

      %p This generation of the site was the first that allowed me to build my own shop and payment back-end, which  integrated into our in-house CMS. I tried to take all the best practices of the time to give a user experience that felt simple and worthy of your trust (and money). For instance, never forcing them to register a username and password (I hate that), never updating the basket without making it clear what's happened (I hate that too), and explaining things like the postage cost clearly in the checkout.

      %p But the front end was only a part of the system. We also designed and built a client side to the order system, generating warehouse job and packing lists and accounts interfaces. A bespoke fulfilment system from click to invoice.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2008

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Powertraveller

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li CSS3
            %li Mootools JS
            %li MindType CMS
            %li PayPal/WorldPay/Sage
            %li PHP
            %li MySQL

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.powertraveller.com', :target => '_blank'} Website rebuilt since
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
