- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Powertraveller

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => 'Lots of messages to get across on the homepage, but offering links to the core products and allowing the client to change the priorities at very short notice is the key.'}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "The 'add to basket' button doesn't take you away from the page, or update a small corner without making it clear - plus it gives the opportunity to cross sell related items."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "The checkout tries to make the process as painless as possible by prefilling forms, allow *optional* saving of your details and clearly marking good fields and errors before you lose the will to carry on and get to the payment bit. The user experience of checkout pages is still pretty bad on the web, I was determined not to make this one of them."}
        %img{:src => 'pic3s.jpg'}
      .clear

    %h2 A personal electronics manufaturer selling direct

    .cm-work-main
      
      %p Powertraveller manufacture and sell consumer electrical items - specialising in portable battery chargers. This is actually the third generation of Powertraveller website I'd been involved in, but all previous ones had been based within, or extending, the Actinic eCommerce solution. Actinic is clever stuff focused on small businesses, but from the point of a web developer/designer, it was a hateful experience, and Powertraveller had outgrown it's tight framework.

      %p This generation of the site was the first that allowed my to build my own shop and payment back-end. I tried to take all the best practices of the moment to give a user experience that felt easy and trust-worthy to a customer. Never forcing them to register a username and password (hate that), never updating the basket without making it clear what's happened (hate that), and explaining things like the postage cost in the checkout.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2008

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Powertraveller

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li CSS3
            %li Mootools JS
            %li MindType CMS
            %li PayPal/WorldPay/Sage
            %li PHP

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              Website rebuilt since
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
