
@-webkit-keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@-webkit-keyframes fade-up
  0%
    -webkit-transform: translateY(10px)
    opacity: 0
  100%
    -webkit-transform: translateY(0px)
    opacity: 1

@-webkit-keyframes scale-up
  0%
    opacity: 1
    -webkit-transform: scale3d(0.01,0.01,1)
  75%
    opacity: 1
    -webkit-transform: scale3d(1,1,1)
  100%
    opacity: 1
    -webkit-transform: scale3d(1,1,1)

@-webkit-keyframes scale-bounce
  0%
    opacity: 1
    -webkit-transform: scale3d(0.01,0.01,0)
  75%
    opacity: 1
    -webkit-transform: scale3d(1.01,1.01,0)
  100%
    opacity: 1
    -webkit-transform: scale3d(1.01,1.01,0)

@-webkit-keyframes blup1
  0%
    opacity: 0
    -webkit-transform: scale3d(0.01,0.01,0)
  1%
    opacity: 1
    -webkit-transform: scale3d(0.01,0.01,0)
  60%
    opacity: 1
    -webkit-transform: scale3d(1.1,1.1,0)
  80%
    opacity: 1
    -webkit-transform: scale3d(0.95,0.95,0)
  90%
    opacity: 1
    -webkit-transform: scale3d(1.03,1.03,0)
  100%
    opacity: 1
    -webkit-transform: scale3d(1,1,0)

@-webkit-keyframes roll-background
  0%
    background-position: 0 0
  100%
    background-position: 20px 0