- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Havant College

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "Taking the themes from the original concepts created by the print design team, this version tidied up the navigation and changed some of the content to emphasise the benefits of the college with quick entry points, not just news and events."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "The final homepage combines responsive design, fading banners and a rolling '10 reasons' panel, with colour direction from the print design team."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "The sixth form application form is the technical centre-piece. You can optionally save and retrieve your form with a password, as well as field-by-field validation and autosaving the content as you enter it."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "Testing across platforms and browsers to make sure everyone has a good experience. Included are Safari, Chrome and Firefox on Mac, IE7/8/9 on PC, iPhone, iPad iOS4, iPad iOS5, Android phone and an Android Tablet."}
        %img{:src => 'pic4s.jpg'}
      %a.fancybox{:href => 'pic5.jpg', :rel => 'project', :title => "Testing the site on the current phone of joince for a college student, a Blackberry Curve."}
        %img{:src => 'pic5s.jpg'}
      .clear

    %h2 A website for a sixth-form college

    .cm-work-main
      
      %p A solid brief, great corporate identity and re-written content make the creation of a website so much easier. The MindWorks design team had produced the completed prospectus with a strong identity, and a photo shoot gave a huge variety of top quality pictures to use. On top of that, the account team had worked with the client to give a clear brief, site plan and wireframes.

      %p So, with all the pieces in place and the rest of the web team pre-disposed, it was my job to to take the website from concept to launch.

      %p With a teen audience moving to mobile browsing more and more, it had to be a responsive design, working on any size screen you throw at it. It had to be SEO catnip for Google, be reasonably printable, and easy to update on a daily basis. This is why having the overview of all the pieces helps - the design, the back-end, the content, the context of the devices we're aiming for, and the needs of the audience. Pulling this site together gave that good feeling that all the bases had been covered, nothing missed.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2012

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Havant College

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li Mootools JS
            %li HTML5
            %li CSS3
            %li PHP
            %li MindType CMS
            %li Responsive design

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://havant.ac.uk', :target => '_blank'} Havant College
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
