- @section = 'work'

= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'pic4.jpg'}
    .cm-work-title
      %h1.cm-container
        Havant College

  .cm-container

    %h2 A website for a sixth-form college

    .cm-work-main
      
      %p A solid brief, great corporate identity and re-written content make the creation of a website so much easier. The MindWorks design team had produced the completed prospectus with a strong identity, and a photo shoot gave a huge variety of top quality pictures to use. On top of that, the account team had worked with the client to give a clear brief, site plan and wireframes.

      %p So, with all the pieces in place and the rest of the web team pre-disposed, it was my job to to take the website from concept to launch.

      %p With a teen audience moving to mobile browsing more and more, it had to be a responsive design, working on any size screen you throw at it. It had to be SEO catnip for Google, be reasonably printable, and easy to update on a daily basis. This is why having the overview of all the pieces helps - the design, the back-end, the content, the context of the devices we're aiming for, and the needs of the audience. Pulling this site together gave that good feeling that all the bases had been covered, nothing missed.

    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2012

        %dt Employer:
        %dd MindWorks

        %dt Client:
        %dd Havant College

        %dt Tech:
        %dd
          %ul
            %li HTML5
            %li CSS3
            %li PHP
            %li MindType CMS
            %li Responsive design

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://havant.ac.uk', :target => '_blank'} Havant College
            %li 
              %a{:href => 'https://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
