- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Suzuki B-King

  .cm-container

    .cm-work-thumbs
      %a.fancybox-media{:href => 'http://www.youtube.com/watch?v=gtfZdwPn5UY', :title => 'With only two images to create a site out of, we decided on an extreme teaser, showing the images through animated slits to promote replay and revisits.'}
        %img{:src => 'picVs.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => 'The second site incorporated a small gallery of images, a very short movie and a contact form to keep the interest up.'}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => 'The contact form (made in Flash, powered by a PHP email script) generated leads for Suzuki on a global scale, as we\'d managed to get the first site in the world up for the product.'}
        %img{:src => 'pic3s.jpg'}
      .clear

    %h2 A flash coating to a lack of content

    .cm-work-main
      
      %p The B-King is a monster Suzuki street bike - and as if that wasn't exciting enough, MindWorks as an agency had some early press material on it pre-launch. Suzuki wanted some buzz about the product and with a the grand total of two small pictures and the name (that's all we had), I designed a small teaser flash site within a couple of days. It hit all the right notes in the industry and journalists, and 50% of visits were from the USA, where there were no details released up to that point.

      %p Suzuki commissioned a follow up with a tiny snippet of video, some more imagery and a contact form, and that generated even more traffic. It was probably my last major project that was built in Flash, but still holds up as a small piece of work that I'm proud of - and that's all down to keeping the scope small and the polish high.


    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2006

        %dt Employer:
        %dd MindWorks

        %dt Client:
        %dd Suzuki GB

        %dt Tech:
        %dd
          %ul
            %li Adobe Flash
            %li PHP

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.suzukibking.co.uk/', :target => '_blank'} Suzuki B-King
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
