- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Suzuki B-King

  .cm-container

    .cm-work-thumbs
      %a.fancybox-media{:href => 'http://www.youtube.com/watch?v=gtfZdwPn5UY', :title => 'With only two images to create a site, we decided on an extreme teaser, showing the images through animated slits to promote replay and revisits.'}
        %img{:src => 'picVs.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => 'The second site incorporated a small gallery of images, a short movie and a contact form to keep the interest up.'}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => 'The contact form (made in Flash, powered by a PHP email script) generated leads for Suzuki on a global scale, as we\'d managed to build the first site in the world about the product.'}
        %img{:src => 'pic3s.jpg'}
      .clear

    %h2 A flash coating on a lack of assets

    .cm-work-main
      
      %p The B-King is a monster Suzuki street bike - and Suzuki asked MindWorks Marketing to look into giving it some pre-launch buzz. The problem was that the only assets available were a the grand total of two small pictures, so I designed a small teaser flash site that used those two pictures to the maximum. It hit all the right notes in the industry and journalists, quickly becoming our most popular site with half of pageviews from the USA, where no details had been released up to that point. Not bad for two pictures and an animation.

      %p Suzuki commissioned a follow up with a short snippet of video, some more imagery and a contact form, and that generated even more traffic. It was probably my last project that was entirely built in Flash, but still holds up as a piece of work that I'm proud of - and it was all down to keeping the scope small and the polish high.


    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2006

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Suzuki GB

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li Adobe Flash
            %li PHP

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.suzukibking.co.uk/', :target => '_blank'} Suzuki B-King
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
