= partial "../../nav", :locals => {:in_section => @section}

%header.cm-work-header

  %nav.cm-work-nav-outer
    .cm-work-nav-prev
    .cm-work-nav-next
    %nav.cm-work-nav
      %menu
        %li
          %a.slot-1{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              1
        %li
          %a.slot-2{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              2
        %li
          %a.slot-3{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              3
        %li
          %a.slot-4{:href=>'../201005-suzuki50years/', :'data-slot' => '4'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              4
        %li
          %a.slot-5{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              5
        %li
          %a.slot-6{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              6
        %li
          %a.slot-7{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              7
        %li
          %a.slot-8{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              8
        %li
          %a.slot-9{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              9
        %li
          %a.slot-10{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              10
        %li
          %a.slot-11{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              11
        %li
          %a.slot-12{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              12
        %li
          %a.slot-13{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              13
        %li
          %a.slot-14{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 20XX
              14
        %li
          %a.slot-15{:href=>'../201005-suzuki50years/'}
            %figure
              %img.lazy{:'data-original' => '../201005-suzuki50years/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2011
              Suzuki 50 years
        %li
          %a.slot-16{:href=>'../201101-suzukibikes/'}
            %figure
              %img.lazy{:'data-original' => '../201101-suzukibikes/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2011
              Suzuki Bikes
        %li
          %a.slot-17{:href=>'../201102-bardot/',}
            %figure
              %img.lazy{:'data-original' => '../201102-bardot/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2011
              Bardot
        %li
          %a.slot-18{:href=>'../201103-southseadeckchairs/'}
            %figure
              %img.lazy{:'data-original' => '../201103-southseadeckchairs/pic1s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2011
              Southsea Deckchairs
        %li
          %a.slot-19{:href=>'../201106-beneteausuzuki/'}
            %figure
              %img.lazy{:'data-original' => '../201106-beneteausuzuki/pic4s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2011
              Beneteau Suzuki
        %li
          %a.slot-20{:href=>'../201111-trevortowner/'}
            %figure
              %img.lazy{:'data-original' => '../201111-trevortowner/pic4s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2011
              Trevor Towner
        %li
          %a.slot-21{:href=>'../201201-havantcollege/'}
            %figure
              %img.lazy{:'data-original' => '../201201-havantcollege/pic4s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2012
              Havant College
        %li
          %a.slot-22{:href=>'../201202-nicolakellycbt/'}
            %figure
              %img.lazy{:'data-original' => '../201202-nicolakellycbt/pic2s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2012
              Nicola Kelly CBT
        %li
          %a.slot-23{:href=>'../201202-portfolio/'}
            %figure
              %img.lazy{:'data-original' => '../201202-portfolio/pic2s.jpg',:width => '150',:height => '150'}
            %h4
              %b 2012
              Portfolio
