- @section = 'work'

= partial "../nav", :locals => {:in_section => @section}

.cm-container
  .cm-work-list-title 
    %h1 work
    %p Just a few of the projects I've worked on.
  %ul.cm-work-list
    = partial "list"

= partial "../footer"