.work
  article
    position: relative
    float: left
    width: ((100%-$col_margin)/3)
    height: ((100%-$col_margin)/3)
    margin-left: $col_margin
    &:first-child,&:nth-child(4)
      margin-left: 0
    h3
      position: absolute
      left: 0
      top: 0
