- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Fabulous & Poor

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "With the basic wireframes completed, dictating the homepage hierachy,we got straight to design themes. I might have picked up on the word 'edgey' a bit heavily here..."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "After feedback, this version swung to a more grungy theme - all the time I was considering how to take square-cut pictures out of the CMS and mask them up to give the right effect."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "The final design stepped back a little from the two initial concepts, but still injected a fun personality into the site. Then I had to build a script to add that ragged edge to the photos."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "The final catalogue had precise filtering, multiple pictures (with a magnifying glass zoom) and lots of little information pop-ups to make details like the postage cost, size and price conversion clear. I really wanted the photos to be more interesting than just a 't-shirt on the floor', and the shop team really took it on board, making each shot interesting as well as useful - I think most of this 'second-hand' photography beats the brands' original studio shots."}
        %img{:src => 'pic4s.jpg'}
      %a.fancybox{:href => 'pic5.jpg', :rel => 'project', :title => "So often forgotten, I try to make the effort to tweak how key pages are printed out"}
        %img{:src => 'pic5s.jpg'}
      %a.fancybox{:href => 'pic6.jpg', :rel => 'project', :title => "My first responsive/reactive project. The whole shop, from home to product to checkout is all available through the mobile stylesheets."}
        %img{:src => 'pic6s.jpg'}
      .clear

    %h2 A less corporate - but no less professional - online shop

    .cm-work-main
      
      %p Fabulous and Poor is a Stockholm shop specialising in recycling and resale of ski and sports-wear. Yep. Not your average brief for a Marketing agency on the UK south coast. We were tasked with helping the shop team through the process of not only building an online store in multiple languages, but also to understand and refine their workflow, including processing incoming stock to managing the pay-outs to the many suppliers who brought in garments for resale.

      %p A site visit with a couple of days discussing every aspect of the job was invaluable - you can't beat a serious project inception meeting to get everyone understanding the problems and enthused about a task.

      %p The design started at the electro-pop end of the scale, going through a grunge period, then reaching a happy compromise. I loved stretching the design a bit to see what the client wanted - it made a welcome change from the more common "three column - make it white" initial brief we sometimes received.

      %p Building multi-language capabilities into the site without having to just build three separate sites was a good challenge, as was building a shop with a Swedish third party payment system. The shop team did a great job of injecting personality into photographing and cataloguing the stock, which combined with the magnifying-glass style user interface to give a fun user experience.

      %p This was my first responsive design released in the wild, and on top of that you had to be able to purchase through it. Finding that responsive design was no mystery was a great feeling, and I guess I promised myself that all sites I built would be responsive to some extent in the future...

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2009

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Fabulour & Poor

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li CSS3
            %li Mootools JS
            %li Responsive design
            %li PayPal/Architrade
            %li Mindtype CMS
            %li PHP 
            %li MySQL 

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.fabulousandpoor.com/', :target => '_blank'} Fabulous & Poor
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
