- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'pic1.jpg'}
    .cm-work-title
      %h1.cm-container
        Bardot

  .cm-container

    .cm-work-thumbs
      %a.fancybox-media{:href => 'https://vimeo.com/81313543'}
        %img{:src => 'picVs.jpg'}
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "Bardot tried to to take content that was endangered of being lost forever and not just make it web-discoverable, but a pleasurable reading experience - especially on tablets."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "All unnecessary interface was stripped away to focus on the reading interface. The CSS3/Canvas bookmark moved along the top edge of the screen giving a visual indicator how far through you were, and was also the entry point to the thumbnail index."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "The web app was built to be responsive to the screen size, resizing content and switching between single-page view, two-page view (ie a 'spread') and even three-page fold-outs. On a tablet all you need to do is turn it sideways to switch modes."}
        %img{:src => 'pic3s.jpg'}
      .clear

    %h2 An experiment in rescuing old magazines

    .cm-work-main
      
      %p "Bardot" was a codename for a project I'd been sketching since I first saw the iPad. I'd been digging through the loft in my parent's house and found some incredible magazines and publications, so old they were in danger of turning to dust. The plan was to not only scan and post the content onto the open web to archive them for everyone, but to make something new.

      %p The plan for Bardot was to be an HTML5/JS/CSS framework that takes page scan files and turns them into an offline enabled web app, searchable with hidden annotations, hyperlinking to other web content and shareable by linking into major social networks. But above all, it was to be a great reading experience - especially on tablets - with minimal interface, touch navigation/zoom and full screen pages and spreads. In short, it was to feel like an iPad magazine app, but built on the open web, not locked into any one mobile platform. A "continuous screen client" that could remember what page you left off on your tablet and start at the same spot on your laptop.

      %p I'd been waiting for someone to build it - it seemed such an obvious merger of HTML5, mobile devices and content - but it never really appeared. So I decided to build it myself.

      %p Whilst building I learnt huge amounts about the limits of CSS and Javascript, hardware acceleration and resource management. And it's still in-progress in my spare time, with all the neweset hardware and techniques bringing it closer to reality. But Bardot was never meant to be a money maker. It was the sort of project the open web was built on. A need to make information freely available in a useful form.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2011

        %dt 
          %span.icon-employer
          Employer:
        %dd n/a

        %dt 
          %span.icon-client
          Client:
        %dd n/a

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li Vanilla JS
            %li CSS3 transitions
            %li Responsive design
            %li TouchEvents
            %li PHP

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://craigmorey.co.uk/arch/bardot/5/', :target => '_blank'} Demo
            %li 
              %a{:href => 'https://github.com/pixelthing/atomoco-bardot', :target => '_blank'} Github

  .clear

= partial "../../footer"
