- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        50 years of racing

  .cm-container

    .cm-work-thumbs
      %a.fancybox-media{:href => 'http://www.youtube.com/watch?v=JznwjWBVFNQ', :title => "A movie of the site running on the iPad, before the iPad hit the high street in the UK. It shows the multiple levels of touch and swipe events used in the interface."}
        %img{:src => 'picVs.jpg'}
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "The iPad that was shipped from the states to test the site."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "The site could be swiped left to right from the start to the very end. Early on, we built in two levels of swipe, the long/slow 'peek' type of movement, and the short/quick 'flick' type, to give a natural feel similar to native apps."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "The main audience was still the regular desktop/laptop computer browser, and the site had to feel like it was made for whatever platform you were looking at it on, not just a technical demo."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "The site reformatted itself depending on the screen you viewed it on, even going so far as moving the background image crops depending on the screen size and shape - 'art-directed' responsive images that are now commonplace topics in web development."}
        %img{:src => 'pic4s.jpg'}
      .clear

    %h2 The UKs first website optimised for iPad

    .cm-work-main
      
      %p The Suzuki 50 years of racing microsite was my life for a short time. It was hugely ambitious, not only technically but also in terms of content, most of which we were going to have to source ourselves.

      %p 
        It was a microsite that was created to celebrate the riders, the machines and the passion of half a century of Suzuki motorcycle racing, and I was determined to move away from the obvious route - a flash website. But to cap it off, I wanted to make it work on the iPad, to make it feel like you want to sink into a comfy seat with a tablet and flick through the site. I was totally inspired by concepts such as the 
        %a.fancybox-media{:href => 'https://vimeo.com/8217311', :target => '_blank', :title => 'I was totally inspired by concepts such as the Bonnier/BERG Mag+ and wanted to take that step into the future of the web.'} Bonnier/BERG Mag+ 
        and wanted to take that step into the future of the web.

      %p Bare in mind that this was early 2010. The iPad wasn't even out in the UK. We built the bulk of the site testing it in the Mac iOS simulator, before I shipped an iPad from the 'States with my own money to start testing on the real thing.

      %p That's when the scale of the job became apparent. What worked on the simulator - with it's desktop processor, graphics power and huge memory - looked stuttery and buggy in the real, resource constrained iPad. What followed was a huge learning curve compressed into a few short weeks, in graphics acceleration, memory management, touch controls and other skills.

      %p At the same time, I wanted to add real content value to the site, so we sourced as much content as we could find from the client, from contacting Flickr users to re-publish their photos, embedding YouTube videos and writing lots of copy that we hoped would hold an enthusiast's interest.

      %p It would be built so differently if I started it today with all I've learnt since then, but pulling it off was a huge buzz and launching it on the same day as the iPad came out in the UK was priceless.


    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2010

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Suzuki GB Motorcycles

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li CSS3
            %li Mootools JS
            %li Responsive design
            %li CSS3 transitions
            %li touch events
            %li PHP

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://suzuki50years.co.uk', :target => '_blank'} Suzuki 50 years of racing
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
