- @section = 'work'

= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'pic2.jpg'}
    .cm-work-title
      %h1.cm-container
        Nicola Kelly CBT

  .cm-container

    %h2 A small movbile first marketing web site

    .cm-work-main

      %p A small job to help a friend set up her business, this was a flat website designed and built in a couple of days. The first day was taken up with thinking through the content and the audience, then taking the company style and getting an appropriate look and feel to turn into a website.

      %p A background in marketing helped in thinking through how the user journey means that most therapy websites can appear either impersonal or too journal-like. Reassuring your potential customers and giving them confidence in your professionalism is a fine balance, but this site uses clear, informal copy with a clean uplifting design to make people feel that the service is not over-medicalised and is relevant to them.

      %p The second day was a matter of coding it up so it was all the qualities that a good site should be. It was SEO and accessibility friendly, responsive to multiple size screens, printable in a neat fashion, and semantically built using HTML/CSS/jQuery with lots of comments to help any further development by others. Care was taken to use double resolution (or half-size) logos to provide beautifully crisp images on retina screens or on print-outs.

    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2011

        %dt Employer:
        %dd n/a

        %dt Client:
        %dd n/a

        %dt Tech:
        %dd
          %ul
            %li Vanilla JS
            %li CSS3 transitions
            %li Responsive design
            %li TouchEvents
            %li PHP

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://craigmorey.co.uk/arch/bardot/5/', :target => '_blank'} Demo
            %li 
              %a{:href => 'https://github.com/pixelthing/atomoco-bardot', :target => '_blank'} Github

  .clear

= partial "../../footer"
