- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'pic2.jpg'}
    .cm-work-title
      %h1.cm-container
        Nicola Kelly CBT

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => 'Clear information and non-confrontational. The intention was not to make anyone feel they needed to be medicalised, but rather that they had a professional friend to lean on.'}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => 'The whole site is - of course - built for any size screen. The telephone number was especially picked out as user testing picked it out as the top reason to visit the site.'}
        %img{:src => 'pic2s.jpg'}
      .clear

    %h2 Putting yourself in the audience's shoes

    .cm-work-main

      %p A small job to help a friend set up her business, but all the tenants of user centred design still held, even if on a slightly scaled back budget! The most time was taken up with investigating the needs of the audience and planning the content, then taking the company style and getting an appropriate look and feel to turn the goal into a website.

      %p Marketing and experience in UX helped with thinking through how therapy websites can appear either impersonal or too journal-like. Reassuring your potential customers and giving them confidence in your professionalism is a fine balance, but this site uses clear, informal copy with a clean positive design to make people feel that the service is not over-medicalised and is relevant to them.

      %p Then it was a matter of coding it up so it was all the qualities that a good site should be. It was SEO and accessibility friendly, responsive to multiple size screens, printable and semantically built using HTML/CSS/jQuery with lots of comments to help any further development by others down the road. Care was taken to use double resolution (or half-size) illustrations - like the logos - to provide beautifully crisp images on retina screens and print-outs.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2012

        %dt 
          %span.icon-employer
          Employer:
        %dd n/a

        %dt 
          %span.icon-client
          Client:
        %dd Nicola Kelly CBT

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li jQuery JS
            %li Responsive design
            %li PHP

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.nicolakellycbt.co.uk/', :target => '_blank'} Nicola Kelly CBT

  .clear

= partial "../../footer"
