- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Beneteau - Suzuki

  .cm-container

    .cm-work-thumbs
      %a.fancybox-media{:href => 'http://www.youtube.com/watch?v=xzVB4GZl18A', :rel => 'project', :title => "Shown here on an iPad mk1, I added a few simple touch controls to the site to make it more suited to tablets. Also you can see the smoothness of animation that make all the effort put to hardware accelleration in worthwhile. Lastly you can see the transition from microsite to scrolling view and back again."}
        %img{:src => 'picVs.jpg'}
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "The site was built to give different experiences on different screen sizes. Above you can see how it appears in screens 1024px, 768px and 320px wide"}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "In the microsite view, each slide animates with parallax layers. On this slide the text slides in first, the background image sliding in behind."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "On the dealer contact page, the map in the background repositions on each dealer you hover over, while clicking reveals more details including a google map."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "As with any responsive design site, you need to see the final result on as many devices as you can - no amount of simulation will really show how a site looks or behaves on the real thing."}
        %img{:src => 'pic4s.jpg'}
      .clear

    %h2 How far can responsive design go?

    .cm-work-main
      
      %p I'd committed myself to making all websites with responsive design (reformatting depending on screen size), but I wondered how far you could take that approach. The Beneteau/Suzuki website was an experiment in that direction, applying responsive design to a micro site design that was a world away from the column/blog style sites that up until now have been the large bulk of responsive designs.

      %p The idea came from couple of friends. "She" is an artist and wants websites to communicate through the "experience", "he" is an engineer and just wants the facts, not any of the "fluff" that surrounds it.

      %p This site gives both points of view, an animated sideshow style presentation on larger screens, but a much simpler reading experience on smaller screens. On a tablet like an iPad, all you need to do is rotate the screen to switch between the two versions.

      %p This site was much smaller in scope than the earlier Suzuki 50 years website and we'd gained a lot more experience in the techniques needed, so the build was much more straight forward. The animations in CSS transitions were built with JavaScript fallbacks quickly and solidly, making sure no browser was left out with older browsers receiving a simpler stylesheet. Lastly, the technology was not allowed to overwhelm the message of the website, with clear "calls to action" to talk to dealers and a design that sat within the Suzuki corporate guidelines (if pushing at the edges a respectable amount).

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2011

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Beneteau/Suzuki

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li Mootools JS
            %li CSS3 transitions
            %li Responsive design
            %li TouchEvents
            %li PHP
            %li HTML5 video

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://beneteau-suzuki.co.uk/', :target => '_blank'} Beneteau Suzuki
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
