%footer.cm-container
  %nav.cm-footer-nav
    %a{:href => "#{site_root}"}
      %span.icon-home
      home
    %a{:href => "#{site_root}portfolio"}
      %span.icon-code
      work
    %a{:href => "#{site_root}blog"}
      %span.icon-ampersand
      blog
  %p 
    %b Thank you.
    Questions? Comments? Bugs? 
    %a{:href => '/email.php',:target => '_blank'}
      Contact me.
  %p All portfolio content is copyright to their respective owners, all other content my own. Please be nice.
  .social
    %a{:href => 'https://twitter.com/pixelthing', :target => '_blank'}
      %span.icon-twitter 
      Twitter
    %a{:href => 'http://instagram.com/pixelthing', :target => '_blank'}
      %span.icon-instagram 
      Instagram
    %a{:href => 'https://www.linkedin.com/in/craigmorey', :target => '_blank'}
      %span.icon-linkedin 
      Linked in
    %a{:href => 'https://github.com/pixelthing', :target => '_blank'}
      %span.icon-github 
      Github
    %a{:href => 'http://codepen.io/pixelthing', :target => '_blank'}
      %span.icon-codepen 
      Codepen
    %a{:href => 'http://www.flickr.com/photos/pixelthing/', :target => '_blank'}
      %span.icon-flickr 
      Flickr
    %a{:href => 'http://vimeo.com/user845067', :target => '_blank'}
      %span.icon-vimeo2
      Vimeo
    %a{:href => 'http://dribbble.com/pixelthing', :target => '_blank'}
      %span.icon-dribbble 
      Dribbble
    %a{:href => 'https://www.pinterest.com/pixelthing/', :target => '_blank'}
      %span.icon-pinterest 
      Pinterest
    %a{:href => 'https://plus.google.com/u/1/106804920786786480655/about/p/pub', :target => '_blank'}
      %span.icon-google-plus 
      Google+
    %a{:href => 'http://www.last.fm/user/craigm2', :target => '_blank'}
      %span.icon-lastfm 
      LastFM
    %a{:href => 'http://www.facebook.com/craig.morey', :target => '_blank'}
      %span.icon-facebook 
      Facebook