%nav.cm-nav{:class => "cm-nav-in-#{in_section}"}
  %h3.cm-nav-button
    .cm-nav-hamburger
      %span.bun
      %span.filling
      %span.base
    %b.cm-nav-title menu
  %menu.cm-nav-menu
    %li{:class => nav_on('home',in_section)}
      %a{:href => '/'} home
    %li{:class => nav_on('work',in_section)}
      %a{:href => '/portfolio'} work
    %li{:class => nav_on('blog',in_section)}
      %a{:href => '/blog'} blog
    %li{:class => nav_on('social',in_section)}
      %a{:href => '/social'} social