.container
  %header#head
    %h1 
      %b hello,
      I'm craig morey
    %h2
      I'm a web & UX developer in London
    /* these shims are only here because quite a lot of browsers doesn't yet support animations on CSS pseudo elements. Normally I'd just let the animations be an enhancement when available. */
    .shim1
    .shim2
    .shim3
    .shim4
  %nav
    %menu
      %li
        %a{:href => '#'} blog
      %li
        %a{:href => '#'} work
      %li
        %a{:href => '#'} social

  .clear

%section.container.instagram-container
  %header
    %h1 Instagram feed
    %a{:href => 'http://instagram.com/pixelthing',:target => '_blank'} more
  /* instagram feed fetched in the front-end using a third party script "instafeed.js" */
  #instafeed
  .clear


%section.container.blog-container
  %header
    %h1 Recent blog posts
    %a{:href => 'http://craigmorey.co.uk/blog/',:target => '_blank'} more
  .posts
  .clear

.container.strip3
  %section.container-half.codepen-container.penstrans
    %header
      %h1 Recent codepen.io pens
      %a{:href => 'http://codepen.io/pixelthing',:target => '_blank'} more
    .pens

  %section.container-half.extra-container
    %header
      %h1 Empty box

  .clear




