- @section = 'home'

.cm-container.cm-home-nav

  = partial "nav", :locals => {:in_section => @section}

.cm-container
  %header#head
    %h1 
      %b hello,
      I'm craig morey
    %h2
      I'm a web & UX developer in London
    /* these shims are only here because quite a lot of browsers doesn't yet support animations on CSS pseudo elements. Normally I'd just let the animations be an enhancement when available. */
    .shim1
    .shim3
    .shim4

  .clear

%section.cm-container.instagram-container
  %header
    %h1 
      %span.icon-instagram
      Instagram feed
    %a{:href => 'http://instagram.com/pixelthing',:target => '_blank'} 
      %span.icon-link
      more
  /* instagram feed fetched in the front-end using a third party script "instafeed.js" */
  #instafeed
  .clear


%section.cm-container.blog-container
  %header
    %h1 
      %span.icon-ampersand
      Recent blog posts
    %a{:href => 'http://craigmorey.co.uk/blog/'} 
      %span.icon-link
      more
  .posts
  .clear

.cm-container.strip3
  %section.cm-container-half.codepen-container.penstrans
    %header
      %h1 
        %span.icon-codepen
        Recent codepen.io pens
      %a{:href => 'http://codepen.io/pixelthing',:target => '_blank'} 
        %span.icon-link
        more
    .pens

  %section.cm-container-half.extra-container
    %header
      %h1 
        %span.icon-code
        Random work
      %a{:href => 'portfolio'} 
        %span.icon-link
        more

  .clear

= partial "footer"




