- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        2012 Portfolio

  .cm-container

    .cm-work-thumbs
      %a.fancybox-media{:href => 'https://vimeo.com/37688240', :rel => 'project', :title => "A quick shaky movie to show the site running on all sizes of screen."}
        %img{:src => 'pic4s.jpg'}
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "Another responsive site, where the format and font size change to match the screen available - a presentation thats made for whatever screen you have."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "It's not just about geeky features. The content is the heart of the site. If someone is interested in the work I'm doing, they need to know what my involvement was, and my thoughts on the project."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "Clicking the 'go' button triggers an animation of the letter being stamped, and it's sent with a woosh. Just a bit of to add to a normally dull process."}
        %img{:src => 'pic3s.jpg'}
      .clear

    %h2 A front-end dev showcase

    .cm-work-main

      %p It was time to sort out a portfolio site that showed work, plus demonstrated creative and technical skills. And here's some of the interesting bits:

      %ul
        %li typekit webfonts (museo slab 500 and Web corpulent 900 from <a href="http://typekit.com" target="_blank">Typekit.com</a>)
        %li zepto.js framework. Faster and much lighter than jQuery at that point, but with largely the same syntax, it targeted the same platforms I did. I'm afraid older IE was left out, but I had was a highly targeted audience.
        %li Javascript trickery and EMs dimensioning to scale and fit to any screen, plus media queries to alter the layout to fit the context of the screen shape and form factor. It ran as a full screen pres on your desktop, but was readable on a smartphone. The whole thing, nothing missed out on any platform.
        %li Keyboard controls built in. They give a slick feel if you're presenting in person, and it was just something I wanted to try.
        %li Touch controls. I used the built in zepto swipe commands to give more natural controls on a touch device. I wanted to take it further and give pixel-for-pixel touch feedback like I'd done before, but you've got to draw a line somewhere.
        %li "Peeking" links. Hover over a link with a mouse and it gives you an idea of what it's going to do. We're getting so used to doing it with touch (eg, pull to refresh, sliding to reveal the the next page as you read the current one), that I thought I'd bring the idea back to the desktop.
        %li Textures everywhere - this was literally 3 months before everything went flat :-)
        %li Apart from modernizr, zepto and key-commands, I wanted to roll my own scripts, including site resizing, responsive lightboxes, carousels, navigation, lazy loading of portfolio content, etc, etc.
        %li Hardware accelerated 3D CSS transitions - just a sprinkle and just in webkit I'm afraid (I tried in FF, but it was just too slow at that time - so that had 2d CSS transitions).
        %li SVG buttons to scale with screensize.
        %li Postmarkapp API to run the email form. Just something I wanted to learn. It's awesome. Plus there was a sweet animation and a woosh sound on sending.
        %li Selectively passworded and unindexable portfolio. That might sound stupid in a portfolio site. But you can easily or mistakenly portray yourself as the sole person responsible for many projects, and google will rank you alongside (or above) your employer. And even if I'm looking for another job, I don't want to disprespect my colleagues.
        %li content. Crikey lets not forget that. Not just a few screenshots and urls, but short stories about every job I chose to add, with images and pictures to back them up. Lots of content that could start a conversation.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2012

        %dt 
          %span.icon-employer
          Employer:
        %dd n/a

        %dt 
          %span.icon-client
          Client:
        %dd n/a

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li Zepto JS
            %li CSS3 transitions
            %li CSS3 3D transforms
            %li Responsive design
            %li Postmark API
            %li TouchEvents
            %li Keyboard nav
            %li Webfonts
            %li PHP

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://craigmorey.co.uk/arch/cm2011/', :target => '_blank'} Archived site
            %li 
              %a{:href => 'https://github.com/pixelthing/craigmorey-2011', :target => '_blank'} Github

  .clear

= partial "../../footer"
