- @section = 'work'

= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'pic1.jpg'}
    .cm-work-title
      %h1.cm-container
        Portfolio

  .cm-container

    %h2 responsive and 3D

    .cm-work-main

      %p It was time to sort out a portfolio site that showed work, plus demonstrated creative and technical skills. And, in a geeky webdev style, here's the interesting bits:

      %ul
        %li I obviously useing webfonts fonts (museo slab 500 and Web corpulent 900 from typekit)
        %li I used the zepto.js framework. Faster and so much lighter than jQuery, but with largely the same syntax, plus it targeted the same platforms I did - I'm afraid IE was left out, but this was a pretty targeted audience.
        %li Javascript trickery and EMs dimensioning to scale and fit to any screen, plus media queries to alter the layout to fit the context of the screen shape and form factor. Run it as a full screen pres on your desktop, or read it on your smartphone. The whole thing, nothing missed out.
        %li Keyboard controls built in. They give a slick feel if you're presenting in person, and it was just something I wanted to try.
        %li Touch controls. I used the built in zepto swipe commands to give more natural controls on a touch device. I wanted to take it further and give pixel-for-pixel touch feedback like I've done before, but you've got to draw a line somewhere. Maybe later.
        %li "Peeking" links. Hover over a link with a mouse and it gives you an idea of what it's going to do. We're getting so used to doing it with touch (eg, pull to refresh, sliding to reveal the the next page as you read the current one), that I thought I'd bring the idea back to the desktop.
        %li Textures everywhere to give that attention to detail feel.
        %li Apart from modernizr, zepto and key-commands, I wanted to roll my own scripts, including site resizing, responsive lightboxes, carousels, navigation, lazy loading of portfolio content, etc, etc.
        %li Hardware accelerated 3D CSS transitions - just a sprinkle and just in webkit I'm afraid (I tried in FF, but it was just too slow at the moment - so that has CSS 2d transitions).
        %li A tiny bit of SVG (the "back" button). It was the best way to have a widget that properly scaled! Appropriate technology used for the right purpose!
        %li Postmarkapp API to run the email form. Just something I wanted to learn. It's awesome. Plus there's a nice animation and a woosh sound on sending.
        %li Selectively passworded and unindexable portfolio. That might sound stupid in a portfolio site. But you can easily or mistakenly portray yourself as the sole person responsible for many projects, and google will rank you alongside (or above) your employer. And even if I'm looking for another job, I don't want to disprespect my colleagues.
        %li content. Crikey lets not forget that. Not just a few screenshots and urls, but short stories about every job I chose to add, with images and pictures to back them up. Lots of content that could start a conversation.

    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2011

        %dt Employer:
        %dd n/a

        %dt Client:
        %dd n/a

        %dt Tech:
        %dd
          %ul
            %li Vanilla JS
            %li CSS3 transitions
            %li Responsive design
            %li TouchEvents
            %li PHP

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://craigmorey.co.uk/arch/bardot/5/', :target => '_blank'} Demo
            %li 
              %a{:href => 'https://github.com/pixelthing/atomoco-bardot', :target => '_blank'} Github

  .clear

= partial "../../footer"
