- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Suzuki Marine PR

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "The european press hub could switch language to change the navigation, titles and which press releases were prioritised."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "We had to devise and build a back end system that could hold press releases in multiple languages, and then a clear navigation between them on the front end."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "As well as good search and filtering tools, the photo library allowed you to download many sizes or formats without having to go another layer down - important if you're a journal picture editor quickly scanning it for a photo selection."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "If I was a journal picture editor I'd want to have a decent size preview - but you'd be amazed how many picture libraries don't do them. We didn't make that mistake."}
        %img{:src => 'pic4s.jpg'}
      .clear

    %h2 A multi language media asset site

    .cm-work-main
      
      %p MindWorks is the European hub for press materials for Suzuki Marine. That means controlling and dishing out imagery and press releases from the Med to the Baltic, and this was the website we built to do the job. It was conceived with an interface built around many languages, and a back-end that allowed the account team to manage a gallery of hundreds of images and press release translations.

      %p My favourite touch is in image gallery, where mousing over the thumbnails brings up pop-up surrounds that allow direct access to all the different downloads - that's one less click eliminated, and one less barrier for a journalist writing an article on the Suzuki's products.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2009

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Suzuki Marine EU

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li CSS3
            %li Mootools JS
            %li Mindtype CMS
            %li PHP 

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.suzukimarinepress.com', :target => '_blank'} Suzuki Marine Press
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
