- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Trevor Towner

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "The main banner on the homepage has a javascript/CSS3 powered chequerboard cross fade."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "The shop catalogue can be filtered by category, and further filtered by material."}
        %img{:src => 'pic2s.jpg'}
      %a.fancybox{:href => 'pic3.jpg', :rel => 'project', :title => "Checkouts traditionally take up a lot of room with forms for the basket, delivery and billing addresses. On a fixed size layout like this, I needed to do some neat hidden panel tricks to fit it all in without making it look cramped."}
        %img{:src => 'pic3s.jpg'}
      %a.fancybox{:href => 'pic4.jpg', :rel => 'project', :title => "The sub-1024px-wide layout gives up the fixed height layout for a more conventional scrolling format. This also provides the fallback style for older browsers."}
        %img{:src => 'pic4s.jpg'}
      .clear

    %h2 Understanding a client's requirements

    .cm-work-main
      
      %p I've still yet to come across an eCommerce project that required a "simple shop". Every client has a different set of requirements that effect not only the look of a job, but the workflow behind it too.

      %p Trevor Towner jewellery is a case in point. As well as the usual messing with the topology of the items in the shop (ie categories and cross category tags), they needed a stock control system that not only informed the customer if an item is out of stock, but also acted as a stock history for the brick & mortar shop as well. Taking that brief and planning an architecture and an interface that anticipates any problems is the basis of my job.

      %p Matched to that is a design that attempts to raise the feeling of quality above a simple template or wordpress plug-in, trying to present a subtle and polished web site that doesn't overpower the products themselves. And true to my promise to myself that all sites from now on would be responsive designs, it reformated on small and mobile screens to allow customers to access it any way they want.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2011

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Trevor Towner

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li Mootools JS
            %li CSS3 transitions
            %li Responsive design
            %li SagePay
            %li MindType CMS
            %li PHP
            %li MySQL

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.trevortowner.com/', :target => '_blank'} Trevor Towner
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
