- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Southsea Deckchairs

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "With a beautiful design by the MindWorks creative team and fantastic photos, the build focused on creating clean, flexible and maintainable code to serve as a basis for a mutli-use template."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "As the web developers favoured jQuery, I built an animated drop menu that guides the shopper to the right product as clearly and simply as possible."}
        %img{:src => 'pic2s.jpg'}
      .clear

    %h2 Going beyond a template

    .cm-work-main
      
      %p Southsea Deckchairs was a case where you can't only consider your own role in a project, you have to consider the project as a whole.

      %p MindWorks had created a bright and fresh corporate rebrand for Southsea Deckchairs, along with a wonderful photoshoot. As the brand guardians, it was our responsibility to design the look of the website and hand off the design files to another company for coding and completion. But we felt a greater responsibility for the finished project and offered to code up a static template for the homepage. This gave the development team a clearer direction to take the project further and it gave us the piece of mind that we'd done as much as we could to make the project a success.

      %p This included building a template in a way that would easily fit the development team's CMS with clear comments embedded and the JavaScript to run the menu system (converting Mootools scripts to jQuery along the way to fit into the final CMS).

      %p Too many projects fail when a job is split between teams, with neither feeling ownership of the quality of the finished product. This was a case when we knew that if we tried to assist the web development agency with their job, we'd be working together for a success, not waiting to blame the each other if it failed.

    %aside.cm-work-aside
      %dl
        %dt 
          %span.icon-calendar
          Year:
        %dd 2011

        %dt 
          %span.icon-employer
          Employer:
        %dd MindWorks

        %dt 
          %span.icon-client
          Client:
        %dd Southsea Deckchairs

        %dt 
          %span.icon-code
          Tech:
        %dd
          %ul
            %li jQuery
            %li CSS3

        %dt 
          %span.icon-link
          Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.deckchairs.co.uk/', :target => '_blank'} Southsea Deckchairs
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
