- @section = 'work'

= partial "../../nav", :locals => {:in_section => @section}
= partial "../header"

%article.cm-work-article

  .cm-work-featured
    %img{:src => 'feature.jpg'}
    .cm-work-title
      %h1.cm-container
        Southsea Deckchairs

  .cm-container

    .cm-work-thumbs
      %a.fancybox{:href => 'pic1.jpg', :rel => 'project', :title => "With a beautiful design by the MindWorks creative team, and fantastic photos, coding up the homepage amounted to solving problems like 'How do you tile/fade the background' and making it good clean symantic HTML code."}
        %img{:src => 'pic1s.jpg'}
      %a.fancybox{:href => 'pic2.jpg', :rel => 'project', :title => "As the web developers favoured jQuery, I built a nice graphically revealing drop menu that guides the shopper to the right product as neatly as possible."}
        %img{:src => 'pic2s.jpg'}
      .clear

    %h2 Beyond a template

    .cm-work-main
      
      %p Southsea Deckchairs is a case where you can't be blinded by thinking all you need to do is your small part of the job, you have to consider the project as a whole.

      %p MindWorks had created a bright and fresh corporate rebrand for the company, along with a wonderful photoshoot. As the brand guardians, it was our responsibility to design the look of the website but after that it was to be handed off to another company for coding and completion. So MindWorks were only contracted to hand over a photoshop file, but we felt a greater responsibility for the finished project and I offered to code up a static template for the homepage. This gave the development team a better steer on how to take the project further and it gave us the piece of mind that we'd done as much as we could to make the project a success.

      %p This included building a template in a way that would easily fit the web team's CMS with clear comments embedded and the JavaScript to run the menu system (learning jQuery along the way, as that appeared to be the web team's preferred framework, whereas MindWorks generally used mootools).

      %p Too many jobs fail when a job is split between teams, with neither feeling ownership of the quality of the finished product. This was a case when I knew that if we tried to assist the web development agency with their job, we'd be working together for a success, not waiting to blame the each other if it failed.

    %aside.cm-work-aside
      %dl
        %dt Year:
        %dd 2011

        %dt Employer:
        %dd MindWorks

        %dt Client:
        %dd Southsea Deckchairs

        %dt Tech:
        %dd
          %ul
            %li jQuery JS
            %li CSS3
            %li Responsive design

        %dt Links:
        %dd
          %ul
            %li 
              %a{:href => 'http://www.deckchairs.co.uk/', :target => '_blank'} Southsea Deckchairs
            %li 
              %a{:href => 'http://www.mindworks.co.uk', :target => '_blank'} MindWorks

  .clear

= partial "../../footer"
